@model IEnumerable <Emigrace.Models.ArchiveViewModel>

@{
    ViewBag.Title = "Archives";
}

<h2>Add new archive</h2>
<div class="row">
    <div class="col-md-2">
        <div class="form-btn">
            <a href="@Url.Action("Create")" class="btn btn-primary btn-block">New archive</a>
        </div>
    </div>
</div>