@using Emigrace.Models
@model PersonViewModel


    <div class="card" style="border:1px solid darkgrey; padding: 10px; margin-bottom: 10px;">
        <h4>name: @Model.Name</h4>
        <h4>family name: @Model.FamilyName</h4>
        <h4>father name: @Model.FatherName</h4>
    </div>

