body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Rubic', sans-serif;
    background-color: lavender;
}

.main-body {
    padding-left:15px;
    padding-right:15px;
}

.row-table {
    padding:1em;
    background-color:white;
}

h1{
    font-family: 'WoodCabin','Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size:50px;
       
}

@font-face{
    src: url(../fonts/WoodCabin.ttf);
    font-family: 'WoodCabin';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
hr {
   border-top: 1px solid #D4CFCE;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.brand {
    background-color:#d99880;
    padding: 30px 30px 30px 30px;
}

/*Forms*/
.control-label {
    font-family: 'Source Sans Pro','Helvetica Neue',Arial,sans-serif;
    font-size: medium;
}

.form-horizontal .control-label {
    padding-top: 0px;
}

input,
select,
textarea {
    max-width: 400px;
}

.checkbox {
    font-size: medium;
}

/*Buttons*/
.btn-terracotta {
    background-color: #d99880;
    border: 1px solid black;
}
#lokalize {
    margin: 13px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 768px){
    .lead {
        display: none;
    }
}

/*Archives*/

.result-form {
   padding: 2em 1em;
}

.search-form {
    padding: 2em 1em;
    background-color: #eee;
}

ul#search-result li {
    padding: 6px 0px 6px 0px;
    background-color:white;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}

ul#search-result li:hover {
    background-color:#eee;
}

ul#search-result a{
    font-family: 'Rubic', sans-serif;
    font-size:large;
}

#new-archive.form-btn {
    padding-bottom:4px;
    width: 50%;
}


/*Archive*/

.row-name {
    background-color:white;
    padding:0px 0px 6px 6px;
}

.row-contacts {
    background-color:white;
    padding:0px 0px 6px 6px;
    font-size:larger;
    line-height:1;
    margin-bottom:2%;
}

.collections-table {
    background-color:white;
    padding:0px 0px 6px 6px;
}

h5.row-contacts {
    font-weight: bold;
}

table.numbered-table{
    border-collapse:collapse;

}

table.numbered-table tr {
    background-color:#efefef;
    border-bottom: 1px solid #ddd;
}

table.numbered-table th {
    font-weight: normal;
    text-align: left;
    padding:1em 0.5em;
    font-size:larger;
     
}

table.numbered-table caption {
    font-size: 30px;
    margin-top:20px;
    margin-bottom: 10px;
    text-align:left;
}

table.numbered-table tbody tr {
    background-color:white;
    border: none;
}

table.numbered-table.collections-row th {
    border-top: 1px solid #ddd;
}

table.numbered-table.collections-row td {
    vertical-align: top;
    height:100%;
    overflow: hidden;
}

